* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {

    background: #e4ebf5;
}

:root {
    font-size: 62.5%;
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e6f2f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #adbadb;
    border-radius: 100rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6f8bd1;
}

.main {
    max-width: 600px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}

.heading {
    width: 95%;
    text-align: center;
    font-size: 1.6rem;
    border-bottom: 2px solid black;
    padding: 1rem 0rem;
    margin: 1rem 0;
    transition: all 0.3s ease;
}

/* ------------------------------------- */
/* -------------csv_upload-------------- */
/* ------------------------------------- */
.csv_upload {
    width: 95%;
    margin: 1rem 0;
    display: flex;
}

.csv_upload .input_field {
    width: 100%;
}

.csv_upload input {
    display: inline-block;
    padding: 1.2rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    border-radius: .6rem 0rem 0rem .6rem;
    outline: none;
    border: none;
    cursor: pointer;
    width: 60%;
}

input[type="file"]:valid::file-selector-button {
    color: #4975e7;
    font-weight: bold;
    border: none;
    background: #e4ebf5;
}

.csv_upload .btn {
    width: 40%;
    padding: 1.2rem 2.5rem;
    outline: none;
    border: none;
    border-radius: 0rem .6rem .6rem 0rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    cursor: pointer;
    transition: 0.3s ease;
    color: #4368c5;
    font-size: 1.5rem;
    background: #e4ebf5;
    font-weight: bold;

}

.csv_upload .btn:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}

.csv_upload .btn:hover {
    color: var(--primary);
}

/* ------------------------------------- */
/* -------------user_input-------------- */
/* ------------------------------------- */
.user_input {
    width: 95%;
    margin: 1rem 0;
}

.form__input {
    width: 100%;
    border: none;
    border-radius: .6rem;
    font-size: 1.4rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
    background: none;
    color: #2750b9;
    margin-right: 22px;
    padding: 1rem;
    display: block;
    width: 100%;
    outline: none;
    line-height: 20px;
}

.form__input::-moz-placeholder {
    color: var(--greyDark);
}

.form__input:-ms-input-placeholder {
    color: var(--greyDark);
}

.form__input::placeholder {
    color: var(--greyDark);
}

.form__input:focus {
    outline: none;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}

.user_input .btn {
    width: 100%;
    padding: 1.2rem 2.5rem;
    outline: none;
    border: none;
    border-radius: .6rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    cursor: pointer;
    transition: 0.3s ease;
    color: #4368c5;
    font-size: 1.5rem;
    background: #e4ebf5;
    margin: 2rem 0 0 0;
    font-weight: bold;

}

.user_input .btn:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}

.user_input .btn:hover {
    color: var(--primary);
}


/* ------------------------------------- */
/* -------------api_output-------------- */
/* ------------------------------------- */
.api_output {
    width: 95%;
    margin: 1rem 0;
    font-size: 1.8rem;
}

#loader {
    display: none;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #4368c5;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s cubic-bezier(0.42, 0, 0.2, 0.98) infinite;
    margin: 1rem auto;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.api_output span {
    font-weight: 700;
}

.api_output .user_message {
    margin: 1rem 0;
}

.api_output .api_answer {
    margin: 1rem 0;
}

@media (max-width: 670px) {
    .main {
        width: 90%;
        margin: 2rem auto;
    }

    .heading h1 {
        font-size: 2.6rem;
    }
}